footer{
    position:relative;
    top:300px;
    background-color: black;;
    color:white;
    font-size:12px;
    font-weight: 600;
    padding-bottom:20px;
}
.footer{
    background-color: black;
    position: relative;
    margin-top:12%;
    display:flex;
    gap:30px;
    color:white;
    font-size:12px;
    font-weight: 600;
}
.foot-sec-1{
    /* float:left; */
    margin-left:10%;
    margin-top:30px;
    margin-bottom:30px;
    flex-basis: auto;
    
}
.foot-sec-1 ul li{
    color:white;
    cursor:pointer;
}
.foot-sec-1 ul li:HOVER{
    transform: SCALE(1.05);
}
footer ul{
    list-style-type: none;
    line-height: 30PX;
}
footer p{
    color:#333333;;
    margin-left:10%;
}
.hamb{
    /* display:none; */
}
.hamburger{
    display:none;
}
.hamnav{
    /* display:none; */
}