/* App.css */

.app {
    text-align: center;
  }
  
  .image-slider {
    position: relative;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
  }
  
  .image-slider img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Rounded corners for the images */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow for the images */
  }
  
  .image-slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333; /* Button text color */
  }
  
  .image-slider button:focus {
    outline: none;
  }
  
  .image-slider button:first-child {
    left: 10px;
  }
  
  .image-slider button:last-child {
    right: 10px;
  }
  
  